{
  "extends": ["@atomix/eslint-config", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/newline-after-import": ["error", { "count": 1 }]
  }
}
